html, body {
    width: 100%;
    overflow-x: hidden;
}
body {
    height:100%;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300;
    padding:0;
    margin:0;
    font-size:14px;
    line-height: 28px;
    color: #777; 
    background: #f3f3f3; 
    position: relative;
}
/*           Font Smoothing      */












.navbar-default .navbar-nav > li > a{
    color: #929292;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;

}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #929292;
    background-color: transparent;
}
.navbar-nav > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-default .navbar-nav > li > a.active:after{

    background-color: #FDC600;
    bottom: -24px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 100%;
}
.navbar-default .navbar-nav > li > a::after {
    background-color: #FDC600;
    bottom: -24px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 0%;
}
.navbar-default .navbar-nav > li > a:hover:after {
    width: 100%;
}

.navbar-nav.navbar-right:last-child{
    margin-right: -10px
}
.navbar-brand {

}
.main-nav {
    padding-top: 14px;
}
.button.navbar-right {
    padding-top: 10px;
}
.nav-button {
    background-color: #c2c2c2;
    border: medium none;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.nav-button.login{
    background-color: #FDC600;
    margin-right: 5px;
}
.nav-button:hover{
    background-color: #FDC600;

}
.navbar{
    margin-bottom: 0px;
    min-height: 80px;
}
.navbar-default {
    background-image: none;
    background-color: #fff;
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: none;
}
.navbar .container{
    padding-top: 1px
}
.navbar-default {
    background-image: none;
    background-color: #FFF;
    background-repeat: repeat-x;
    border-radius: 0px;
    box-shadow: none;
    border-left: none;
    border-right: none;
}
.nav-tabs > li > a{
    color: #666;
    font-weight: 300;
    border-width: 4px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: transparent transparent #FDC600;
    border-style: solid;
    border-width: 4px;
    color: #666666;
    cursor: default;
    font-weight: 700;
    outline: none;
}

/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3
 * 
 * http://geedmo.github.com/yamm3
 */


.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}
.yamm .container {
    position: relative;
}
.yamm .dropdown-menu {
    left: auto;
} 
.yamm .yamm-content {
    padding: 20px 30px;
}
@media (max-width: 767px) {
    .yamm .yamm-content {
        padding: 10px 20px;
    }
}
.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}
.yamm .dropdown-menu {   
    background-color: #FFF; 
    border: 0.3px solid rgba(227, 227, 227, 0.22);
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.176);
}
.ymm-sw .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: inherit;
    margin: inherit;
    list-style: outside none none;
    font-size: inherit;
    background-color: #FFF;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    box-shadow: 0px 0.5px 1px #CECECE;
    background-clip: padding-box;
}
.ymm-sw .dropdown-menu li{
    clear: both;
    height: 50px;
}
.navbar-default .ymm-sw .navbar-nav a::after {
    bottom: 5px;
    background-color: #FFF;
}
.yamm .ymm-sw  .dropdown-menu {
    left: auto;
    right: auto;
}
.navbar .yamm-content h5 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: dotted 1px #555555;
}
@media (max-width: 767px) {
    .navbar .yamm-content h5 {
        font-size: 14px;
    }
}
.navbar .yamm-content ul {
    margin: 0;
    padding: 0;
}
.navbar .yamm-content ul li {
    list-style-type: none;
    border-bottom: solid 1px #eeeeee;
    text-transform: uppercase;
    padding: 4px 0;
}
.navbar .yamm-content ul li a {
    color: #777;
    font-size: 14px;
    display: block;
    font-weight: 300;
}
.navbar .yamm-content ul li a:hover {
    color: #FDC600;
    text-decoration: none;
}
.navbar .yamm-content .banner {
    margin-bottom: 10px;
}
/*Tools CSS*/
.p0{
    padding: 0px;
}
.overflow{
    overflow: hidden;
}
.mar-l-20{
    margin-left: 20px;
}
.mar-r-20{
    margin-right: 20px;
}
.box {
    background: #FFF none repeat scroll 0% 0%;
    margin: 0px 0px 30px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.box-two {
    background: #FFF none repeat scroll 0% 0%;

    border: 1px solid #E6E6E6;
    box-sizing: border-box;

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.dot-hr{
    border-bottom: 1px dotted #CECBC7;
    margin-bottom: 10px;
}
.slim-hr{

}
.color{
    color:#9B9B9B;
}
.orange{
    color:orange;
}
.strong{
    font-weight: 500;
}
.padding-top-25{
    padding-top: 25px;
}
.padding-top-40{
    padding-top: 40px;
}
.padding-bottom-40{
    padding-bottom: 40px;
}
.pr0 {
    padding-right: 0px !important;
}
.pl0 {
    padding-left:0px !important;
}
.pl-10 {
    padding-left: 10px !important;
}
.pr-10 {
    padding-right: 10px !important;
}

.padding-top-15{
    padding-top:15px;
}
.padding-bottom-15{
    padding-bottom:15px;
}
.pr-30 {
    padding-right: 30px !important;
}
.p-b-15{
    padding-bottom: 15px;
}
.padding-5{
    padding: 5px
}
.center{
    text-align: center;
}

.right {
    text-align: right;
}
.left {
    text-align: left;
}
.garo-icon-dog-gry{
    
}
.garo-icon-dog-gry::after{
    
}
.garo-icon-car-gry{
    
}
.garo-icon-car-gry::after{
    
}
.garo-icon-area-gry{
    
}
.garo-icon-area-gry::after{
    
}
.garo-icon-sw-gry{
    
}
.garo-icon-sw-gry::after{
    
}
.garo-icon-shw-gry{
    
}
.garo-icon-shw-gry::after{
    
}

.garo-icon-wf-gry{
    
}
.garo-icon-wf-gry::after{
    
}

.garo-icon-bed-gry{
    
}
.garo-icon-bed-gry::after{
    
}

.garo-icon-zzz-gry{
    
}
.garo-icon-zzz-gry::after{
    
}

/*FOOOTER*/
.footer-area{
border-top: 1px solid #D1D1D1;
background: #555 url("../../assets/img/bg-footer.jpg") repeat scroll 0% 0%;
color: #535353;
}
.footer{
padding: 0px 0px 60px;
background: rgba(255, 255, 255, 0.89) none repeat scroll 0% 0%;
}
.footer ul li i { 
    padding-right: 10px;
    color: #000;
} 
.footer-copy{
    background: rgba(213, 213, 213, 0.9) none repeat scroll 0% 0%;
    border-top: 0.051px solid rgba(162, 162, 162, 0.46);
    padding-bottom: 0px;
    padding-bottom: 7px;
padding-top: 7px;
}
.single-footer{
    margin-top: 35px
}
.footer img{
    margin-bottom: 20px;
}
.footer p{  
    line-height: 25px;
    font-size: 13px;
    padding-bottom: 20px;
}
.footer h4{
    color: #717171;
    font-weight: 400;
    margin-top: 0px;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #878787;
    line-height: 35px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}
.footer h4 span{
    border-bottom: 3px solid #FDC600;
}
.footer-title-line {
    width: 100px;
    height: 2px;
    background: #FFA600;
    margin: 0px 0px 33px;
    position: relative;
    top: -2px;
}
.footer h5{
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
}
.footer a{
    color: #fff;
}
.footer ul{
    padding: 0px;
    margin: 0px;
}
.footer  ol, .footer ul {
    list-style: outside none none;
}

.footer ul li{
    margin-bottom: 5px
}
ul.footer-adress li {
    margin-bottom: -4px;
}
.footer ul li a{
color: #535353;
font-weight: 500;
text-transform: uppercase;
font-size: 13px;
}
.footer ul li a:hover{
    color: #FDC600;
    text-decoration: none;
}
.footer-menu li{
  border-bottom: 1px solid rgba(255, 171, 0, 0.31);
}

.footer-copy span{
    margin-right: 20px; 
    font-size: 13px;
}
.footer-copy span a{
    color: #000;
    font-weight: 500;
} 
.footer img{
    height: 32px;
}
ul.footer-blog li {
    width: 100%;
    display: table;
    margin-bottom: -20px;
}
.footer-blog img {
    width: 100%; 
    height: 60px;
    margin-bottom: 0px;
}
.footer-blog .blg-entry h6 a{   
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600; 
    color: #FFA600;
}
.footer-blog .blg-entry h6 {
    padding: 2px 0px;
    margin: 0px;
}
.footer-blog .blg-date {
    color: #FFF;
    background-color: #AD7206;
    padding: 2px 3px;
    font-size: 11px;
    position: relative;
    top: -22px;
    width: 100%;
}
.footer-blog .blg-thumb img{
    
}

.footer-blog p {
    line-height: 17px;
    padding: 8px 2px;
}
.news-letter .form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #E1E1E1;
    background-color: rgba(255, 255, 255, 0.52);
    background-image: none;
    border: 1px solid rgba(231, 157, 45, 0.3);
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(179, 179, 179, 0.1) inset; 
}
.news-letter .form-control:hover ,.news-letter .form-control:focus{
    background-color: rgba(0, 0, 0, 0.1);
}
.footer .subscribe{ 
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 22px;
    font-size: 14px;
    margin-left: -17px;
    z-index: 99;
    background-color: #FFA600;
    border-color: #FFA600;
}
.footer .subscribe:hover{
    background-color: #2D2D2D;
    border-color: #2D2D2D;
}

.social ul {
    padding: 0px;
    list-style: outside none none;
}
.social li {
    display: inline-block;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
}
.social  ul li a:hover {
    color: #FDC600;
order-color: #868686;
background-color: #868686;
}
.social  ul li a:hover i{
   color: #FDC600;  
}
.social ul li a{
display: block;
width: 40px;
height: 40px;
line-height: 40px;
border-radius: 50%;
border: 1px solid rgb(146, 146, 146);
transition: all 0.8s ease 0s;
color: rgb(146, 146, 146);
}
.social ul li a i{
color: rgb(146, 146, 146);
font-size: 20px;
padding: 10px;
}
.bottom-menu ul{
    list-style: outside none none;
}
.bottom-menu ul li{
    float: left;
    display: inline-block;
}
.bottom-menu ul li a { 
    font-size: 13px;
    color: #2A2A2A;
    padding: 10px;
    font-weight: 500;
}
.bottom-menu ul li a:hover{
    color: #FFC600;
}
/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;  
    top:50%;  
    background-image:url(../../assets/img/preloader.gif);  
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; 
}
.prop-btm-sheaerch {
    display: none
}
#map {
    height: 300px;
}
